* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 50px 0;
    font-size: 14pt;
    color: white;
}

.navbar-fixed {
    position: absolute;
    top: 0;
}

.navbar .logo {
    color: black;
}

.navbar h1 {
    font-size: 24pt;
}

@media (max-width: 1199px) {
    .navbar {
        background: rgba(0, 0, 0, .2);
        padding: 10px;
    }
    .navbar h1 {
        font-size: 16pt;
        color: white !important;
    }
}

.navbar>.navbar-left {
    flex: 1;
}

.navbar>.navbar-right {
    display: flex;
    align-items: center;
}

.btn {
    padding: 15px 35px;
    text-decoration: none;
    background: white;
    color: rgb(76, 76, 76);
}

.navbar-item {
    margin-left: 62px;
}

.navbar .menu-btn {
    text-decoration: none;
    color: white;
    font-size: 24pt;
}


/* HEADER */

.header {
    background-image: url("assets/shape.png"), linear-gradient(rgb(232, 255, 232), white, white);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}

@media (min-width: 1200px) {
    .header {
        padding: 0 50px;
        flex-direction: row;
        justify-content: space-between;
        background-size: contain;
    }
}

@media (min-width: 1600px) {
    .header {
        padding: 0 150px;
    }
}

.input-box {
    width: 42%;
    min-width: 300px;
    height: 400px;
}

@media (max-width: 1199px) {
    .input-box {
        width: 100vw;
        padding: 10px;
    }
}

.search {
    border: 0;
    border-left: 6px solid rgb(255 61 139);
    height: 80px;
    background: white;
    box-shadow: 0px 30px 27px 0px rgba(191, 191, 191, 0.23);
    width: 100%;
    padding: 0 50px;
    font-size: larger;
    animation: shadow-animation 0.6s ease-in-out;
}

@keyframes shadow-animation {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0px 30px 27px 0px rgba(191, 191, 191, 0.23);
    }
}

.search-box {
    margin-bottom: 50px;
    position: relative;
    animation: margin-animation 0.6s ease-in-out;
}

@keyframes margin-animation {
    from {
        margin-bottom: 0;
    }
    to {
        margin-bottom: 50px;
    }
}

.search-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.watch-video {
    display: inline-block;
    font-size: larger;
    color: rgb(76, 76, 76);
}

@media (max-width: 1199px) {
    .watch-video {
        color: white;
    }
}

.watch-video>img {
    margin-right: 20px;
}

.valign-middle {
    vertical-align: middle;
}

.shop {
    width: 35vw;
    margin-right: 150px;
    animation: shop-animation 0.6s ease-in-out;
}

@keyframes shop-animation {
    from {
        margin-right: 0px;
    }
    to {
        margin-right: 150px;
    }
}


/* Categories */

.categories {
    margin-bottom: 100px;
}

.container {
    width: 100%;
}

@media (min-width: 1200px) {
    .container {
        margin: 0 50px;
        width: calc(100% - 100px);
    }
    .navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1600px) {
    .container {
        margin: 0 150px;
        width: calc(100% - 300px);
    }
    .navbar {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.box {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
    padding: 31pt;
}

.box-section>h1 {
    font-size: 24pt;
    font-family: "Georgia";
    color: rgb(42, 42, 42);
    line-height: 1;
    text-align: center;
    margin-bottom: 58pt;
}

.box-section>h1::after {
    position: absolute;
    display: block;
    content: "";
    background-color: rgb(73, 162, 218);
    width: 70px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20pt;
}

.row {
    display: flex;
    position: relative;
    flex-direction: column;
}

.row.is-mobile {
    flex-direction: row;
    flex-wrap: wrap;
}

@media (min-width: 1000px) {
    .row {
        flex-direction: row;
    }
}

.row>.col {
    flex: 1;
    margin: 15px;
}

.row.no-margin>.col,
.row.no-margin>.col-2 {
    margin: 0;
}

.row>.col-2 {
    flex: 2;
    margin: 15px;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    transition: all 0.2s ease;
}

.mt-5 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 1rem;
}

.price {
    text-align: center;
    font-size: x-large;
    margin-top: 2rem;
}

.hovered {
    position: relative;
    width: 100%;
    margin: 0 auto;
    transition: all 0.2s ease;
}

.buttons {
    opacity: 0;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    left: 0;
    background: pink;
}

.hoverable:hover>.buttons {
    display: flex;
    opacity: 1;
    transition: all 0.6s ease;
}

.hoverable:hover>.hovered {
    margin-bottom: 80px;
}

.hoverable:hover>.hovered .image {
    height: 120px;
}

.buttons>a {
    padding-top: 7%;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 13pt;
    white-space: nowrap;
}

@media (max-width: 1700px) {
    .buttons>a {
        font-size: 12pt;
        padding: 7% 0;
    }
}

.btn-pink {
    background: #ff3d8b;
    color: white;
}

.btn:hover,
.btn-pink:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.text-center {
    text-align: center;
}

.heart {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 22px;
    width: 22px;
}

@media (max-width: 1199px) {
    .heart {
        right: -15px;
    }
}

.box-section+.box-section {
    margin-top: 80px;
}

.arrow {
    position: absolute;
    background: white;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1999;
}

@media (max-width: 1599px) {
    .arrow {
        display: none;
    }
}

@media (max-width: 1199px) {
    .hide-tablet {
        display: none !important;
    }
}

.arrow.arrow-left {
    left: -220px;
}

.arrow.arrow-right {
    right: -220px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-link {
    position: relative;
    font-size: large;
    cursor: pointer;
}

.text-link:hover::after {
    position: absolute;
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background: #ff3d8b;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: width-animation 0.366s ease-in-out;
}

@keyframes width-animation {
    from {
        width: 0;
    }
    to {
        width: 170px;
    }
}

.text-link>img {
    width: 18px;
}

.text-pink {
    color: #ff3d8b;
}

.section+.section {
    margin-top: 100px;
}


/* What we promise */

.what-we-promise {
    background: rgba(0, 0, 0, 0.01);
    padding: 80px 0;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    height: 450px;
    text-align: center;
}

.tile.hover {
    background: white;
    border-bottom: 3px solid #ff3d8b;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.08);
}

.arrow-pink {
    position: relative;
    background: #ff3d8b;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}


/* Brands */

.our-brands .col {
    text-align: center;
    padding: 50px 0;
}


/* Footer */

.footer {
    border-top: 2px solid rgba(0, 0, 0, 0.08);
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer hr {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 1rem;
}

.footer a {
    text-decoration: none;
    color: rgb(76, 76, 76, 0.5);
    display: block;
    line-height: 3;
}

.footer a:hover {
    font-weight: bold;
}

@media (max-width: 999px) {
    .footer .col,
    .footer .col-2 {
        padding: 0 50px;
    }
    .footer .col+.col,
    .footer .col+.col-2,
    .footer .col-2+.col {
        margin-top: 50px;
    }
}

.footer input {
    border: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    padding: 0 50px;
    font-size: larger;
    width: 90%;
    height: 49px;
}

input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.08);
}

.text-muted {
    color: rgb(76, 76, 76, 0.5);
}

.small-btn {
    margin: 5px;
    height: 40px;
}

.text-smaller {
    font-size: 15pt;
}

.contact {
    line-height: 2;
}